/*  +++++++++++++++++++++++++++++++++++++++++++++++
    +++++++++ DEFAULT CUSTOMED STYLE ++++++++++++++
    +++++++++++++++++++++++++++++++++++++++++++++++
*/

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: #8C8A86;
    background: #F8F3F0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #B8BAC4;
}

h1 { font-size: 32px; }
h3 { font-size: 24px; }

p, a, span {
    font-size: 14px;
    color: #8C8A86;
    margin: 0;
}

a:visited,
a:active {
    text-decoration: none;
}

a:hover { text-decoration: none; }

ul li {
    list-style: none;
    display: block;
}

.wrapper {
    margin: 0;
    padding: 0;
    padding-left: 120px;
}


/*  
    +++++++++++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++ NAVIGATION ++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++++++++++
*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 120px;
    z-index: 50;
    background: #4C4743;
    overflow-x: hidden;
}

div.logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    background: #ED6C44;
}

div.logo img {
    display: block;
    margin: 0 auto;
    padding: 10px;
    height: auto;
    width: 110px;
    border-radius: 50%;
    max-width: 100%;
}

div.title {
    padding: 5px 10px;
}

nav ul li {
    padding-top: 12px;
    padding-bottom: 12px;
    border-left: 5px solid #4C4743;
    transition: 0.3s ease;
}

nav ul li:hover {
    cursor: pointer;
    background: #FFF;
    border-left: 5px solid #C0AB92;
}

nav ul li a {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #8C8A86;
}

nav ul li:hover p,
nav ul li:hover span {
    color: #DCC9B4;
}